<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/school-manager/home}">홈으로</a>
                    <a class="nav-link" th:href="@{/school-manager/student-list}">학생목록</a>
                    <a class="nav-link" th:href="@{/school-manager/insert-data}">성적입력</a>
                    <a class="nav-link" th:href="@{/school-manager/student-exam}">학생성적</a>
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </div>
            </div>
        </div>
    </nav>
</div>